body {
    background-color: black;
    display: flex;
    justify-content: center;
}

#container {
    background-color: white;
    padding: 2em 3em;
    margin: 1em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 2em;
    font-family: Arial, Helvetica, sans-serif;
}

#container h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gray;
}

.header {
    margin-bottom: 0.5em;
}

.content {
    margin: auto;
}

tr {
    margin: 0.5em 0;
}

button {
    margin: 0.35em 0;
}

#rate {
    width: 55%;
}

.hidden {
    display: none;
}
